#bgi
{
  height:auto;
  background-image:url("image/bgimg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 992px)
{
    #para
    {
      font-size:18px;
    }
}

@media screen and (max-width: 720px)
{
    #para
    {
      display: none;
    }
    #title{
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

a:link,a:visited {
  background-color: tomato;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

#Hyderabad,#Warangal,#Mumbai,#Pune
{
  display: none;
}

#h,#w,#m,#p
{
  background-position: bottom;
}
